#!/bin/bash
ipa-client-install --domain=some.server --server=some.server --server=some.server --server=some.server --mkhomedir --enable-dns-updates --realm=SOME.SERVER --unattended --password '{{ outrp.host.randompassword }}'
