# Closure some vulnerabilities for Prod environment

# Hide Apache version
ServerTokens Prod
ServerSignature Off 

# Disable trace
TraceEnable off

# Deny any methods except Post/Get and return 403 forbidden
<Location />
    Order allow,deny
    Allow from all
    <LimitExcept POST GET>
        Deny from all
    </LimitExcept>
RewriteEngine on
RewriteCond %{THE_REQUEST} !^(POST|GET)
RewriteRule .* - [F]
</Location>